<div class="about">
    <img src="assets/profile/profile.jpeg" alt="">

    <p> 
        Meu nome é Leandro do Nascimento da Silva, tenho 23 anos e nasci na cidade de São Paulo. 
        Criado na comunidade de Heliópolis sem apoio do pai (falecido), 
        superei todas as expectativas me tornando um excelente desenvolvedor full stack.
    </p>
    
    <p> 
        A minha paixão pela área de T.I começou aos 15 anos, inspirado pela curiosidade sobre como as coisas tecnologias funcionam, fazendo que aos 16 anos entrasse para o curso técnico de informática na etec heliópolis, onde me formei com honras criando um protótipo robótico de um braço mecânico controlado via aplicativo mobile para o meu tcc.
    </p>

    <p>
        Aos 17 anos ingressei na faculdade de ciência da computação na universidade paulista (unip), onde conheci novos conceitos e aprimorei os já aprendidos no curso técnico.
    </p>

    <p>
        Aos 19 anos consegui meu primeiro estágio na Eu quero investir, tendo o primeiros contatos com projeto de produção, desenvolvendo-o em node.js, angular.js e mysql e assim me tornei um programador full stack e saindo de estagiário para junior.
    </p>

    <p>
        Atualmente após o primeiro contato com um projeto de produção cheguei ao nível de pleno/sênior, adquirindo várias habilidades que pode ser consultado no menu ao lado na aba de habilidades.
    </p>

    <p> 
        O meu desejo é sempre estar aprimorando meus conhecimentos em todas áreas da minha vida, pois conhecimento nunca é demais e usado corretamente eleva a mim e a todos à minha volta. mas meu maior sonho na área de T.I é adquirir muitos conhecimentos para auxiliar e descomplicar a programação para pessoas que estejam iniciando em nossa área. 
    </p>





</div>

