<h3>Linguagens de programação e frameworks:</h3>

<div class="df">
    <div class="skill">
        <div class="skill__content">
            <img src="assets/icon/node.png" alt="">
            <h4> Node.js </h4>
            <p> 5 anos</p>
        </div>

        <div class="skill__content">
            <img src="assets/icon/angular.png" alt="">
            <h4> Angular.js </h4>
            <p> 5 anos</p>
        </div>

        <div class="skill__content">
            <img src="assets/icon/ts.png" alt="">
            <h4> Typescript </h4>
            <p> 5 anos</p>
        </div>

        <div class="skill__content">
            <img src="assets/icon/docker.png" alt="">
            <h4> Docker </h4>
            <p> 5 anos</p>
        </div>

        <div class="skill__content">
            <img src="assets/icon/mysql.png" alt="">
            <h4> Mysql </h4>
            <p> 5 anos</p>
        </div>

        <div class="skill__content">
            <img src="assets/icon/php.png" style="width: 100px;" alt="">
            <h4> PHP </h4>
            <p> 1 ano</p>
        </div>
    </div>
</div>